$background-path: "/images/background.svg";
$shadow-params:  0px 4px 4px #00000040;
$default-text-color: #ffffff;

a{
  text-decoration: none;
  color: $default-text-color;
}
p{
  text-decoration: none;
  color: $default-text-color;
}


.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13131580;
  height: 64px;
  gap: 110px;

  &__nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
  }
  
  &__nav-link{
    font-size: 12px;
    font-weight: 500;
    &:hover{
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.background-wrapper{
  display: flex;
  background-image: url($background-path);
  flex-direction: column;
}

.main-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  &__line{
    text-decoration: none;
    gap: 0px;
    width: 317px;
    height: 1px;
    margin: 0px;
  }
  &__title{
    display: flex;
    align-items: center;
    text-align: right;
    text-shadow: $shadow-params;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 20%;
    margin-left: -20px;

    &_big{
      font-size: 104px;
      font-weight: 400;
      letter-spacing: 25%;
    }
  }
  &__description{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 30px;
  padding-left: 360px;
  margin-top: -10px;
  }

  &__year{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 20px;
  padding:  68px 360px 32px 0px;
  }
}