.header{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #13131580;
  height: 64px;
  gap: 110px;
}

.header__nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.header__nav-link{
  font-size: 12px;
  font-weight: 500;
}

.header__nav-link_big{
  font-size: 20px;
  font-weight: 600;
}

