header{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #13131580;
  height: 64px;
  gap: 110px;
}

.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  font-weight: 500;
}

.link-big{
  font-size: 20px;
  font-weight: 600;
}

